{
	"extends": [
		"stylelint-config-recommended",
		"stylelint-a11y/recommended",
		"stylelint-config-clean-order"
	],
	"plugins": [
		"stylelint-high-performance-animation",
		"stylelint-selector-no-empty",
		"stylelint-gamut"
	],
	"defaultSeverity": "error",
	"overrides": [
		{
			"files": [
				"*.md",
				"**/*.md"
			],
			"customSyntax": "postcss-markdown"
		}
	],
	"rules": {
		"annotation-no-unknown": true,
		"at-rule-no-unknown": true,
		"at-rule-no-vendor-prefix": true,
		"block-no-empty": [
			true,
			{
				"ignore": [
					"comments"
				]
			}
		],
		"comment-empty-line-before": "always",
		"comment-no-empty": true,
		"declaration-block-no-duplicate-properties": [
			true,
			{
				"ignore": [
					"consecutive-duplicates"
				]
			}
		],
		"declaration-block-no-shorthand-property-overrides": true,
		"declaration-block-single-line-max-declarations": 1,
		"declaration-no-important": true,
		"function-calc-no-unspaced-operator": true,
		"function-linear-gradient-no-nonstandard-direction": true,
		"function-url-no-scheme-relative": true,
		"length-zero-no-unit": true,
		"named-grid-areas-no-invalid": true,
		"no-descending-specificity": true,
		"no-duplicate-at-import-rules": true,
		"no-duplicate-selectors": true,
		"no-empty-source": true,
		"no-invalid-double-slash-comments": true,
		"no-invalid-position-at-import-rule": true,
		"no-irregular-whitespace": true,
		"no-unknown-animations": true,
		"property-no-vendor-prefix": true,
		"selector-no-qualifying-type": true,
		"selector-no-vendor-prefix": true,
		"selector-not-notation": "complex",
		"selector-pseudo-element-no-unknown": true,
		"selector-type-case": "lower",
		"selector-type-no-unknown": true,
		"shorthand-property-no-redundant-values": true,
		"unit-no-unknown": true,
		"plugin/stylelint-selector-no-empty": true,
		"gamut/color-no-out-gamut-range": true,
		"declaration-property-value-no-unknown": [
			true,
			{
				"propertiesSyntax": {
					"color": "<oklch>",
					"background-color": "<oklch>"
				}
			}
		]
	}
}