@font-face {
  font-family: Tektur;
  src: url('../fonts/Tektur_Condensed-Regular.ttf');
  font-weight: normal;
}

body {
  font-family: Tektur;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Decovar';
    src: url('../fonts/DecovarAlpha-VF.ttf') format('truetype-variations');
    font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 0, "SKLB" 0, "TRMG" 0, "TRME" 0;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  @font-face {
    font-family: MartianMonoVF;
    src: url('../fonts/MartianMonoVF.woff2') format('woff2-variations');
    font-weight: 100 800;
    font-stretch: 75% 112.5%;
  }
}

h1 {
  font-family: Decovar, sans-serif;
  font-size: 64px;
  font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 1000, "SKLB" 0, "TRMG" 0, "TRME" 0;
}

h2 {
  font-family: Decovar, sans-serif;
  font-weight: 600;
  font-variation-settings: "BLDA" 0, "TRMD" 0, "TRMC" 0, "SKLD" 0, "TRML" 0, "SKLA" 0, "TRMF" 0, "BLDB" 0, "WMX2" 0, "TRMB" 0, "TRMA" 1000, "SKLB" 0, "TRMG" 0, "TRME" 0;
}

h3 {
  font-family: MartianMonoVF, sans-serif;
  font-weight: 600;
}