:root {
    --brand: oklch(66.36% 0.154 254.08);
    --gradient: linear-gradient(45deg, var(--brand), oklch(55.58% 0.214 269.02));
    --text1: color-mix(in oklch, var(--brand), black 50%);
    --text2: color-mix(in oklch, var(--brand), black 40%);
    --text3: color-mix(in oklch, var(--brand), black 30%);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --brand: oklch(38.21% 0.21 288.49);
      --gradient: linear-gradient(45deg, var(--brand), oklch(36.23% 0.206 282.71));
      --text1: color-mix(in oklch, var(--brand), white 60%);
      --text2: color-mix(in oklch, var(--brand), white 70%);
      --text3: color-mix(in oklch, var(--brand), white 80%);

      color-scheme: dark;
    }
  }

  [data-theme="dark"] {
    --brand: oklch(38.21% 0.21 288.49);
    --gradient: linear-gradient(45deg, var(--brand), oklch(36.23% 0.206 282.71));
    --text1: color-mix(in oklch, var(--brand), white 60%);
    --text2: color-mix(in oklch, var(--brand), white 70%);
    --text3: color-mix(in oklch, var(--brand), white 80%);

    color-scheme: dark;
  };