.container {
    display: grid;
    grid-template-areas:
    'header header'
    'nav content'
    'footer footer';
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr max-content;

    height: 100vh;

    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

@media screen and (prefers-reduced-motion: reduce) {
    .title {
        animation: none;
    }
}

.header {
    grid-area: header;
    justify-self: center;

    & .title {
        color: var(--text1);
        animation-name: titleChange;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }
}

@keyframes titleChange {
    0% {
        font-variation-settings: "TRMC" 0, "SKLD" 0, "SKLA" 0, "TRMG" 0, "TRME" 0;
    }

    50% {
        font-variation-settings: "TRMC" 500,"SKLD" 50,"SKLA" 500,"TRMG" 500,"TRME" 500;
    }

    100% {
        font-variation-settings: "TRMC" 0, "SKLD" 0, "SKLA" 0, "TRMG" 0, "TRME" 0;
    }
  }

  .navbar {
    grid-area: nav;
  }

  .content {
    grid-area: content;

    display: flex;
  }

  .footer {
    grid-area: footer;
  }

  .color {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .brand {
    background-color: var(--brand);
  }

  .text1 {
    background-color: var(--text1);
  }

  .text2 {
    background-color: var(--text2);
  }

  .surface1 {
    background-color: var(--surface1);
  }
  
  .surface2 {
    background-color: var(--surface2);
  }

  .surface3 {
    background-color: var(--surface3);
  }
  
  .surface4 {
    background-color: var(--surface4)
  }