.container {
    display: grid;
    grid-template-areas:
    'header header'
    'nav content'
    'footer footer';
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr max-content;

    height: 100vh;

    background: var(--gradient);
    background-size: 400% 400%;

    animation-name: backgroundChange;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@media screen and (prefers-reduced-motion: reduce) {
    .container {
        animation: none;
    }
}

@keyframes backgroundChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header {
    grid-area: header;
    justify-self: center;

    & .title {
        animation-name: titleChange;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }

    @media screen and (prefers-reduced-motion: reduce) {
        & .title {
            animation: none;
        }
    }
}

@keyframes titleChange {
    0% {
        font-variation-settings: "TRMC" 0, "SKLD" 0, "SKLA" 0, "TRMG" 0, "TRME" 0;
        color: var(--text1);
    }

    50% {
        font-variation-settings: "TRMC" 500,"SKLD" 50,"SKLA" 500,"TRMG" 500,"TRME" 500;
        color: var(--text2);
    }

    100% {
        font-variation-settings: "TRMC" 0, "SKLD" 0, "SKLA" 0, "TRMG" 0, "TRME" 0;
        color: var(--text3);
    }
}

.navbar {
    grid-area: nav;
}

.content {
    display: flex;
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.color {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.brand {
    background-color: var(--brand);
}

.text1 {
    background-color: var(--text1);
}

.text2 {
    background-color: var(--text2);
}

.surface1 {
    background-color: var(--surface1);
}

.surface2 {
    background-color: var(--surface2);
}

.surface3 {
    background-color: var(--surface3);
}

.surface4 {
    background-color: var(--surface4)
}